body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    padding: 30px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, button {
    padding: 10px;
    margin: 10px;
    width: 80%;
}

button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

.error {
    color: red;
}

.success {
    color: green;
}